<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="primary" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
     
      </ion-buttons>
    <ion-title class="subtitulo" style="text-align: center; margin-right: 5%;">
      Registro
    </ion-title>
    
      
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <h3 class ="subtitulo p-3 encabezado"> Datos del Usuario</h3>
  <div  class="login-section">
    
    <div class="form-input">
      <ion-icon lot="start" name="person-outline"></ion-icon>
      
      <ion-item>
        <ion-label   position="floating" class="normal">Nombre:</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" class="normal" type="string" inputmode="text" placeholder="Introduzca su Nombre" required></ion-input>
      </ion-item>
      
    </div>


 
  <div class="form-input">
    <ion-icon lot="start" name="call-outline"></ion-icon>
        <ion-item>
      <ion-label  position="floating" class="normal">Contacto:</ion-label>
      <ion-input [(ngModel)]="usuario.contacto" required class="normal" type="tel" inputmode="tel" placeholder="Introduzca su numero de contacto"></ion-input>
    </ion-item>
    
  </div>
  
  

  <div class="form-input">
    <ion-icon lot="start" name="mail-outline"></ion-icon>
        <ion-item>
      <ion-label  position="floating" class="normal">Correo:</ion-label>
      <ion-input [(ngModel)]="usuario.email" class="normal" type="email" inputmode="email" 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"required
      placeholder="Introduzca su correo electrónico"></ion-input>
    </ion-item>
  </div>

  

  <div class="form-input">
    <ion-icon lot="start" name="lock-closed-outline"></ion-icon>
    <ion-item>
      <ion-label  position="floating" class="normal">Clave de Acceso:</ion-label>
      <ion-input [(ngModel)]="usuario.password" required class="normal" type="password" inputmode="password" placeholder="Introduzca su clave de acceso"></ion-input>
    </ion-item>
    <p *ngIf="usuario.password.length<8" style="color: #f8f9fa; text-align:center; " class="danger" padding>Debe tener al menos 8 caracteres.</p>
  </div>

  

  <div *ngIf="!uid.length" class="form-input">
    <ion-icon lot="start" name="lock-closed-outline"></ion-icon>
    <ion-item >
      
      <ion-label   position="floating" required class="normal">Confirmar Clave de Acceso:</ion-label>
      <ion-input  *ngIf="!uid.length" [(ngModel)]="confirmarPass" class="normal" type="password" inputmode="password" placeholder="Repita su clave de acceso"></ion-input>
    </ion-item>
    
  </div>

  

  

<div  style="text-align: center; margin-top: 15px; margin-bottom: 17px;">
  <ion-button *ngIf="!uid.length" shape="round" (click)="registrar()"  >Registrar</ion-button>  
  <ion-button *ngIf="uid.length" shape="round" (click)="salir()" >Salir</ion-button>  
</div>
<div *ngIf="!uid.length" style=" color:white; font-size:18px ; text-align: center;"><ion-label style="text-align: center;">Ya tienes un usuario? :</ion-label></div>

<div *ngIf="!uid.length"  style="text-align: center; margin-top: 15px;">
  
  
  <ion-button class="signup-button" shape="round" [routerLink]="['/login']" >Ingresar</ion-button>  
  
</div>
 
</div>
  
</ion-content>