<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" style="width: 41px; margin-right: 47px;" >
      <ion-button [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="danger" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]= "['/registro']" >
        <ion-icon color="danger" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
      </ion-buttons>
    <ion-title style="text-align: center; margin-right: 5%;" class="subtitulo">
      Ventas
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
  
  
<ion-content>
  
    <div  class="datosProducto">
    
      <h3  class="titulo p-3 encabezado">Facturación</h3>

      <!--Encabezado Factura-->
      
    <div  class="encabezadoFactura">
     <div style="text-align: center;"> <ion-label><p style=" margin-top: 10px;" class="titulo">Ventas de Laptops y más</p></ion-label>
      <p style="font-size: 11px;margin-top: 8px;">EL Pino, La Vega, Prox Planta de Gas Hers Diaz Gas</p>
      <p style="font-size: 11px;margin-top: -14px; position: absolute; left: 20% ;right: 20%;">Cel: 829-569-5701</p></div> 
   
      <ion-item  style="--border-width: 0 0 0px 0 !important; margin-right: 46px;">
        <ion-input disabled="true"  > <ion-label  style="position: absolute;    margin-left: 10px;"></ion-label></ion-input>
        <ion-label class="normal" style="margin-top: 6px;">Factura: {{newfactura.codigo}}</ion-label>
        
     </ion-item >
      <ion-item class="normal" style="--border-width: 0 0 0px 0 !important; margin-top: -15px">
        <ion-input disabled="true"  > <ion-label  class="normal" style="position: absolute; margin-top: -15px;   margin-left: 10px;"></ion-label></ion-input>
        <ion-label style="margin-top: 6px;">Fecha:</ion-label>
        <ion-datetime cancelText="cancel" doneText="ok" displayFormat="DD-MM-YYYY" [(ngModel)]="newfactura.fecha"></ion-datetime>
     </ion-item>
     <ion-item  class="normal" style="--border-width: 0 0 0px 0 !important; margin-top: -15px">
      <ion-input disabled="true"  > <ion-label  class="normal" style="position: absolute;    margin-left: 10px;"></ion-label></ion-input>
      <ion-label style="margin-top: 6px;">Vence:</ion-label>
      <ion-datetime cancelText="cancel" doneText="ok" displayFormat="DD-MM-YYYY" [(ngModel)]="newfactura.fechaVencimiento"></ion-datetime>
   </ion-item>
      
  
   
   
    </div>
     
      
      
      <ion-list>

        <ion-item>
             <ion-label    class="normal" >Cliente:</ion-label>
             <ion-input required [(ngModel)]="newCliente.nombre"  class="normal" type="string" inputmode="text" placeholder="Nombre del cliente"></ion-input>
         
             <ion-buttons slot="end" style="position: absolute; margin-top: 2px; right: 17px;" >
              <label for="client"><ion-icon  slot="icon-only" name="search"></ion-icon></label>
              <ion-select [(ngModel)]="codclient" style="position: absolute;" class="normal" (ionChange)="getCliente()" >
                <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.codigo">{{cliente.nombre}}</ion-select-option>
               </ion-select>    
              </ion-buttons>
        
            </ion-item>
        <ion-item>
          <ion-label    class="normal" >Celular:</ion-label>
          <ion-input required [(ngModel)]="newCliente.telefono"  class="normal" type="string" inputmode="number" placeholder="809-894-5555"></ion-input>
      
     </ion-item>
        <div *ngIf="agregarArticulo===true">
          <ion-card style="margin-top: 35px;"><ion-item  class="normal" >
          <ion-label  class="normal">Articulo:</ion-label>
          <ion-select [(ngModel)]="codigo" class="normal" (ionChange)="getArticulo()" >
            <ion-select-option *ngFor="let producto of productos" [value]="producto.codigo">{{producto.nombre}}</ion-select-option>
           </ion-select>

           <ion-input disabled="true"  > <ion-label class="normal" style="position: absolute;    margin-left: 10px;"></ion-label></ion-input>
                     
          </ion-item> 
          
          <ion-item  class="normal">
          <ion-label style="margin-right: 50px;">Precio: {{newArticulo.precioVenta}}</ion-label>
          <ion-label >Cant:</ion-label> <ion-input [(ngModel)]="newArticulo.cant" inputmode="number"></ion-input>
          <ion-label>Desc:</ion-label> <ion-input  [(ngModel)]="newArticulo.descuento" type="number" inputmode="number"></ion-input>
           
          </ion-item></ion-card> </div>
       

          <div style="text-align: right; margin-bottom: 10px;" *ngIf="agregarArticulo===true" class="form-group">
            <button type="button" style="background-color: #62ab87; border-color: #62ab87;" class="btn btn-primary mr-2" (click)="agregarFila()">Agregar</button>
            <button *ngIf="editarArticulo===true" type="button" style="background-color: red; border-color: red;" class="btn btn-danger" (click)="eliminarFila()">Eliminar</button>
          </div>

          <div class="container">
            
            <ion-buttons *ngIf="agregarArticulo===false" slot="end" style="position: absolute; margin-top: -40px; right: -23px;" >
              <ion-button  (click)="nuevo()" >
                <ion-icon  slot="start"  (click)="nuevo()" name="add"></ion-icon>  <ion-label style="text-align: center;" class="normal">Artículo</ion-label>
                
              </ion-button>
                      
              </ion-buttons>
            <div class="row">
              <table border="1" class="table" id="tablaprueba">
                <thead class="thead-dark normal" style= "font-weight: bold;" >
                  <tr>
                    <th>Articulo</th>
                    <th></th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody class="normal">
                  <tr style="text-align: center;" *ngFor="let articulo of newfactura.articulo">
                    <td>{{articulo.descripcion}}</td>
                    <td>
                      
                        <ion-button class="icono" style="width: 53px ; margin-top: -13px; --background: none;"  (click)="mostrarDatos(articulo)">
                          <ion-icon slot="icon-only"  color="danger"  name="create-outline"  ></ion-icon>
                        </ion-button>
                                              
                      
                    </td>
                    <td>{{articulo.cant}}</td>
                    <td>{{articulo.precioVenta| currency: '' }}</td>
                    <td>{{(articulo.precioVenta * articulo.cant) | currency: ''}}</td>
                  </tr>
                  <tr></tbody>
                  <tbody>
                 
              </table>

    
           </div>

           
           
             <ion-item no-lines class="normal" style="--border-width: 0 0 0px 0 !important;--min-height: 39px; ">
               <ion-label style="text-align: right; "> SubTotal: {{subtotal| currency: '' }}</ion-label>
           </ion-item>
           
          
           <ion-item no-lines class="normal" style="--border-width: 0 0 0px 0 !important; --min-height: 39px;">
             <ion-label style="text-align: right; margin-top: 6px;"> Descuento: {{descuento| currency: '' }}</ion-label>
         </ion-item>

         
         <ion-item no-lines class="normal" style="--border-width: 0 0 0px 0 !important;--min-height: 39px; ">
           <ion-label style="text-align: right; margin-top: 6px;"> Total a pagar: {{total| currency: '' }}</ion-label>
       </ion-item>
          
        </div>
        <div  class="action-buttons" style=" margin-top: 40px !important; text-align: center;">
          <ion-button class="action-button"  *ngIf="total > 0" shape="round"  (click)="guardarDatos()">  Facturar  </ion-button>
          <ion-button class="action-button" shape="round"  style="color: red; --border-color: red;"  (click)="cancelar()"class="signup-button"  fill="outline " >Cancelar </ion-button>
         
           </div>

  

      

      </ion-list>
      
    </div>

  
</ion-content>
