<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button (click)="seleccionA('1')" [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="danger" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button (click)="seleccionA('2')" [routerLink]= "['/registro'] " >
        <ion-icon color="danger" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
      </ion-buttons>
    <ion-title style="text-align: center;" class="subtitulo">
      Estadística
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
   </ion-toolbar>

   
  
  <ion-content [fullscreen]="true">
   
    <div class="ion-padding">
      <ion-segment  mode="ios" scrollable="true" (ionChange)=" segmentChanged(valueSelected, $event)" [value]="anio" color="dark">
        <ion-segment-button value="2021">
          <ion-label>2021</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2022">
          <ion-label>2022</ion-label>
        </ion-segment-button>
     </ion-segment>

      <ion-segment mode="ios" scrollable="true" (ionChange)=" segmentChanged($event, anio)" [value]="valueSelected" color="dark" scrollable="true">
        <ion-segment-button value="1">
          <ion-label>Enero</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Febrero</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>Marzo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>Abril</ion-label>
        </ion-segment-button>
        <ion-segment-button value="5">
          <ion-label>Mayo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="6">
          <ion-label>Junio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="7">
          <ion-label>Julio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="8">
          <ion-label>Agosto</ion-label>
        </ion-segment-button>
        <ion-segment-button value="9">
          <ion-label>Septiembre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="10">
          <ion-label>Octubre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="11">
          <ion-label>Noviembre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="12">
          <ion-label>Diciembre</ion-label>
        </ion-segment-button>
      
      </ion-segment>
      
      <ion-card>
       
         <ion-card-header  class="tituloGrafico titulo">
          Resultados de {{tituloMes}}
        </ion-card-header>

        <ion-card-content >
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
        
      </ion-card>
  
      <ion-card>
        <ion-card-header class="tituloGrafico titulo" >
          Productos por Categoria
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header class="titulo" style="text-align: center; font-weight: bold;">
          Comportamiento de Ventas por mes
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas class="normal" style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
      
       
    </div>
  </ion-content>
  