/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* ITpo de letra desde google font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,500&display=swap');

//Clases Globales

.titulo{
    font-family: 'Lora', serif !important;
    font-size: 23px!important;
    font-weight: 600;
    color: black;
    @media screen and (max-width:590px) {
       
        font-size: 21px!important;
    }
}
.subtitulo{
    font-family: 'Lora', serif !important;
    font-size: 19px!important;
    font-weight: 550;
    color:black;
    @media screen and (max-width:590px) {
       
        font-size: 17px!important;
    }
}

.normal{
    font-family: 'Lora', serif !important;
    
    font-size: 15px !important;
    color: black;
    @media screen and (max-width:590px) {
       
        font-size: 13px !important;
    }
}

.action-button{
    --background:red;
    :host(.button-solid) {
        --background-activated: var(--ion-color-primary-shade, red !important);
        --background-focused: var(--ion-color-primary-shade, red!important);
        --background-hover: var(--ion-color-primary-tint, red!important);
        --background-activated-opacity: 1;
    
    border-color:red var(--border-color, red);
    }
}

