<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" style="width: 41px; margin-right: 47px;" >
      <ion-button [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="danger" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]= "['/registro']" >
        <ion-icon color="danger" name="person-circle-outline" slot="icon-only"></ion-icon>
      
      </ion-button>
      
      </ion-buttons>
    <ion-title style="text-align: center; margin-right: 5%;" class="subtitulo">
      Tienda
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item *ngIf="mirarProducto === false" style=" width: 80%;  margin: auto;  margin-top: 10px !important;">
    <!--style="width margin-left: calc(0% - 111px); -webkit-text-stroke: 1px black;-->
    <ion-label    class="normal" >Buscar:</ion-label>
   <ion-label> <ion-input (ionChange)="filterItemsLetra(filtroLetra)" [(ngModel)]="filtroLetra"   class="normal" type="string" inputmode="text" placeholder="Buscar Articulo"></ion-input>
   </ion-label>
    <ion-buttons slot="end" style="position: absolute; margin-top: 2px; right: 17px;" >
     <label ><ion-icon  slot="icon-only" name="search"></ion-icon></label>
     
     </ion-buttons>

   </ion-item>
   <div *ngIf="productos.length<1" class="subtitulo" style="width: 80%; text-align: center;margin-top: 15px;margin-left: 10%; "> 
    <ion-card><span style="margin: 5px;">Lo sentimos. En este momento no hay publicaciones que concuerden con su selección. Por favor, regrese en otro momento...</span>
    </ion-card> 
    </div>
  

  <h3 *ngIf="mirarProducto == true" class="titulo p-3 encabezado">Datos del producto</h3>
    <div style="max-width: 600px; margin-left: calc(0% -600px)" *ngIf="mirarProducto === true" class="datosProducto">
      <!-- Visualizadosr del producto seleccionado -->

     
   
        <ion-item ><ion-label *ngIf="newproducto.unds ===0" style="position:absolute;position: absolute;font-size: 49px; color: red; transform: rotate( -45deg);">Vendido</ion-label>
          <ion-img style="width: 100%;     margin-top: 10px;" class="image"  [src]="newproducto.foto"> </ion-img>
        </ion-item>
  
       
      
      <ion-list>
        <ion-item >
          <ion-label    class="normal" ><strong style="font-size: medium !important; font-weight: bold !important;">Codigo:</strong>  {{ newproducto.id}}</ion-label>
    
          <ion-input  readOnly="true"  class="normal" type="string" inputmode="text" ></ion-input>
      
     </ion-item>

        <ion-item>
             <ion-label    class="normal" ><strong style="font-size: medium !important; font-weight: bold !important;">Articulo:</strong>  {{newproducto.nombre}}</ion-label>
             
        </ion-item>

        <ion-item>
          <ion-label disabled="true"  class="normal"><strong>Condicion: </strong>{{newproducto.condicion }}</ion-label>
        
        </ion-item>

        <ion-item>
          <ion-label disabled="true"  class="normal"><strong>Tipo de Articulo: </strong>{{newproducto.tipoArticulo }}</ion-label>
        
        </ion-item>

        <ion-item>

        <ion-label style="margin-top: 40px; background-color: #fd4a4a; border-radius: 30px; margin-left: auto; 
        margin-right: auto; text-align: center;" class="subtitulo">Detalles del Productos:</ion-label>
      </ion-item>

      <ion-item >
        <ion-label    class="normal" >Descripcion: {{newproducto.descripcion.caracteristicas}}</ion-label>
      
    
   </ion-item>

       <div *ngIf="newproducto.tipoArticulo === 'Laptop'||newproducto.tipoArticulo === 'Disco Duro'">
        <ion-item *ngIf="newproducto.tipoArticulo === 'Laptop'">

          <ion-label  class="normal"  class="normal">Procesador: {{newproducto.descripcion.procesador.tipo}}  {{newproducto.descripcion.procesador.gen }} Gen</ion-label>
                  
        </ion-item>

        <ion-item *ngIf="newproducto.tipoArticulo === 'Laptop'">

          <ion-label  class="normal">Ram: {{newproducto.descripcion.ram.cant}} {{newproducto.descripcion.ram.tipo}}</ion-label>
            
        </ion-item >

        <ion-item *ngIf="newproducto.tipoArticulo === 'Laptop'||newproducto.tipoArticulo === 'Disco Duro'">

          <ion-label  class="normal">Almacenamiento: {{newproducto.descripcion.almacenamiento.cant}} {{newproducto.descripcion.almacenamiento.tipo}} GB</ion-label>
          
          </ion-item>

        <ion-item *ngIf="newproducto.tipoArticulo === 'Laptop'">
          <ion-label  class="normal">Pantalla: {{newproducto.descripcion.pantalla}} Pulg</ion-label>
        
        </ion-item>
      </div> 
        <ion-item>
          <ion-label style="background-color: #fd4a4a; border-radius: 30px; margin-left: auto; margin-top: 40px;
          margin-right: auto; text-align: center;" class="subtitulo">Detalles Monetario:</ion-label>
         </ion-item>


             <ion-item style=" text-align: center; ">
              <ion-label  class="normal" >Und Disponibles: {{newproducto.unds }}</ion-label>
             
            </ion-item>

        
            <ion-item style=" text-align: center; " >
              <ion-label   class="normal" >Precio: {{newproducto.precio | replace}} RD$</ion-label>
              <!--ion-ship>- {{( newproducto.precio * 0.05)}} </ion-ship-->
               </ion-item>
          
           
              <ion-item style=" text-align: center; font-size: 15px !important;"  *ngIf="newproducto.unds >0">
                <ion-label class="normal">Precio Con descuento: {{newproducto.precio - ( newproducto.precio * 0.05) | replace}} RD$ </ion-label>
                
                
               </ion-item>
                 
               <div *ngIf="mirarProducto === true" class="action-buttons" style=" margin-top:10px; padding-bottom: 5px !important; text-align: center;">
               <ion-button class="action-button" shape="round" (click)="mirarProducto = false" style="color: red; --border-color: red;" class="signup-button"  fill="outline " >Cancelar </ion-button>
               
                 </div>

      </ion-list> 
      
    </div>

    

<!--Carrusell -->
  <ion-slides *ngIf="mirarProducto === false && filtroLetra.length < 1"  [options]="option" class="ion-margin-top: " style="margin-left: -22px; text-align: center;">
    <ion-slide *ngFor="let producto of productosCarrusell" scrollbar="true" style="    width: 305.333px; ">
  <ion-card style="width: 80%; max-width: 1251px;background: white;">
    <ion-card button="true" (click)="mostrarDatos(producto)" style="background: white; width: 100%; height: 341px; box-shadow: none !important;">
         <ion-card-header>
          <ion-label class="titulo">{{producto.nombre}}</ion-label> 
         </ion-card-header>
         <ion-card-content class="imgtamanio" ><div class="content" style=" margin: auto;"><img style=" margin: auto;  max-width: 322px !important;" class="imgtamanio"  [src]="producto.foto"></div>
          
         </ion-card-content>
         <i style="width: 200px ;height: 10px; position: absolute; bottom: 8px; margin-left: calc(0% - 111px); -webkit-text-stroke: 1px black;
         color: white; " class="fa fa-ship" aria-hidden="true">{{producto.descripcion.caracteristicas}}</i> 
          </ion-card>
        
        <ion-list style="text-align: center; background-color: white;"> 
          <div lines="none" style="text-align: center;">
              <ion-label> <strong>Disponible:</strong> {{producto.unds}}</ion-label>
           </div>

          <div lines="none" style="text-align: center;">
            <ion-label><strong>Precio:</strong>{{producto.precio|  replace }}  $DOP</ion-label>
            
          </div>
          <ion-label ><strong>Precio con descuento:</strong> {{producto.precio - ( producto.precio * 0.05) | replace}} $DOP </ion-label>
      <div lines="none" style="text-align: center; margin-top: 10px">
        <ion-buttons style="width: 100%;" > 
          <ion-button (click)="mostrarDatos(producto)" style="margin: auto" expand="block" fill="solid" size="large">Ver Producto</ion-button>
        </ion-buttons>
        
      </div>
     </ion-list>
           
         
         
      </ion-card>
       
     
      
    </ion-slide>
  </ion-slides>

<!--Resultado de Busqueda -->
<div *ngIf="filtroLetra.length > 0 && mirarProducto===false">
<h1 class="titulo" style="text-align: center;">{{tituloProducto}} </h1>

<ion-list *ngFor="let producto of productos" style="background: white;">
  <ion-card button="true" (click)="mostrarDatos(producto)">
  <ion-item style="--background: white;">
  <ion-card  button="true" (click)="mostrarDatos(producto)" style=" width: 200px; background: white;box-shadow: none !important; 
margin-right: 11px;">
  <img  class="image"  [src]="producto.foto">
   
</ion-card>

<ion-list style="background: white;" >
  
  <ion-item  lines="none" style=" --background: white;" ><p style=" --background: white; font-size: 19px !important;" class="normal">  <strong>{{producto.nombre}}</strong> </p>
   </ion-item>
<ion-item  lines="none" style=" margin-top: -14px; --background: white;"> <p class="titulo">{{producto.precio|  replace }} $DOP</p></ion-item>
   <ion-item  lines="none" style="margin-top: -12px; --background: white;"> <i style="color: black;" class="fa fa-ship" aria-hidden="true">{{producto.condicion}}</i></ion-item>
  
  </ion-list>

</ion-item>
</ion-card>
 </ion-list>


</div>


<!--Catalogo -->
<ion-grid *ngIf="mirarProducto === false && filtroLetra.length<1" style="margin-top: 15px; margin-right: 5%; margin-left: 5%;">
  <h1 class="titulo" style="text-align: center;">{{tituloProducto}} </h1>
 
  <ion-item *ngIf="filtroLetra.length < 1"> 
    <ion-label style="    font-size: 21px !important;  font-family: 'Roboto', sans-serif"  class="normal">Categoria:</ion-label>
    <ion-select  style="    font-size: 21px !important"  [(ngModel)]="categoria"  (ionChange)=" getDatos()">
      <ion-select-option value="Todo">Todo</ion-select-option>
      <ion-select-option value="Laptop">Laptop</ion-select-option>
      <ion-select-option value="Accesorio">Accesorio</ion-select-option>
      <ion-select-option value="Disco Duro">Disco Duro</ion-select-option>
    </ion-select><ion-input disabled="true" inputmode="number" > <ion-label   
     style="position: absolute;    margin-left: 10px;"></ion-label></ion-input>
  </ion-item>
 
  <ion-row style="background-color: white;">

     
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let producto of productos" >
<ion-card  button="true" (click)="mostrarDatos(producto)" style="background: white;box-shadow: none !important; margin-bottom: 12px;
margin-right: 11px;">
<ion-item style=" --border-color: white !important; height: 12em;
display: flex;
align-items: center;
justify-content: center; --background: white;">
  <img style=" width: 180px; text-align: center; margin: auto;
  --object-position: center center;
  height: auto; " [src]="producto.foto">
</ion-item>
  
  
  <ion-label style="width: 100%;     font-size: 19px !important;" class="normal">
    <strong>{{producto.nombre}}</strong> </ion-label>
    <div lines="none" style="margin-top: 10px;">
      <p class="titulo">{{producto.precio|  replace }} $DOP</p></div> 
      
      <i  class="fa fa-ship" aria-hidden="true">{{producto.condicion}}</i>
    
      
</ion-card>
    </ion-col>
 
 
  </ion-row>
</ion-grid>
 
</ion-content>

<ion-footer style="width: 60%; margin: auto;" *ngIf="mirarProducto === true">
  <ion-toolbar style="padding: 0 10px;">
    <ion-label style="width: 80%; ">
      <ion-button (click)=" abrirlink()" style="    border-radius: 20px; --background: green;" expand="full" fill="solid">
        Enviar Mensaje
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer>