<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" style="width: 41px; margin-right: 47px;" >
      <ion-button [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="danger" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]= "['/registro']" >
        <ion-icon color="danger" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
      </ion-buttons>
    <ion-title style="text-align: center; margin-right: 5%;" class="subtitulo">
      Moviemientos
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
  <div class= "" >
            
    <h1  class="titulo p-3 encabezado" style="font-size: 22 !important;">Resumen de transacciones</h1>

      <div style="justify-content: center;" *ngIf="agregarTransaccion ===true">
        <div   Style="text-align: center; width: 300px; position: absolute; margin:10%;  @media screen and (max-width:600px) { margin:3%; }">       
           <ion-card  style="margin-top: -19px;border-radius: 40px; border: 3px solid #C00; width: 300px; ">
         <ion-item><h2 class="subtitulo" style="margin-top: 56px; margin-left: 52px;">Nueva Transacción</h2>
          <ion-button class="icono" style="    width: 54px; margin-top: -29px;--background: none;position: absolute;
          right: 19px"  (click)="nuevo()">
            <ion-icon slot="icon-only"  color="danger"  name="close"  ></ion-icon>
          </ion-button></ion-item> 
                         
          <ion-item class="normal" style="--border-width: 0 0 0px 0 !important; margin-top: -5px">
            <ion-input disabled="true"  > <ion-label  class="normal" style="position: absolute;  margin-left: 10px;"></ion-label></ion-input>
            <ion-label style="margin-top: 6px;">Fecha:</ion-label>
            <ion-datetime cancelText="cancel" doneText="ok" displayFormat="DD-MM-YYYY" [(ngModel)]="transaccion.fecha"></ion-datetime>
         </ion-item>
          
          <ion-item  class="normal" >
            <ion-label>Tipo Transacción</ion-label>
          <ion-select [(ngModel)]="transaccion.tipoTransaccion" class="normal" placeholder="Seleccionar" >
 
            <ion-select-option value="Gasto">Gasto</ion-select-option>
            <ion-select-option value="Capital">Capital</ion-select-option>
           </ion-select>     <ion-input disabled="true"  > <ion-label class="normal" style="position: absolute;    margin-left: 10px;"></ion-label></ion-input>

            
        </ion-item> 
        
        <ion-item  class="normal">
          <ion-label    class="normal" >Descripción:</ion-label>
        <ion-input required [(ngModel)]="transaccion.descripcion"  class="normal" type="string" inputmode="number" placeholder="Concepto"></ion-input>
   
        </ion-item>
      
        <ion-item>
          <ion-label class="normal">Monto:</ion-label> <ion-input  [(ngModel)]="transaccion.monto " type="number" inputmode="number"></ion-input>
    </ion-item>

    <div style="text-align: center; margin-bottom: 10px; margin-top: 10px;" *ngIf="agregarTransaccion===true" class="form-group">
      <button type="button" style="background-color: #62ab87; border-color: #62ab87;" class="btn btn-primary mr-2" (click)="agregarFila()">Agregar</button>
      <button type="button" *ngIf="actualizarTransaccion===true" style="margin-left:11px; background-color: red; border-color: red;" class="btn btn-danger" (click)="eliminarFila(transaccion)">Eliminar</button>
    </div>

      </ion-card> </div>
     

        

        </div>

          
          <ion-buttons *ngIf="agregarTransaccion===false" slot="end" style="position: absolute; margin-top: -31px; right: 10%;" >
            <ion-button  (click)="crearnuevaTransaccion()" >
              <ion-icon style="color: white;"  slot="start"  (click)="crearnuevaTransaccion()" name="add"></ion-icon>  <ion-label style="text-align: center;color: white;" class="normal">Transacción</ion-label>
              
            </ion-button>
                    
            </ion-buttons>
    <div  class="row" style="margin-left: 5%; margin-right: 5%;  @media screen and (max-width:600px) { margin-left:3%; margin-right:3% } " >
      <table border="1" style="background: white !important; opacity: 50% importat !important;"  class="table" id="table">
        <thead class="thead-dark normal" style= "font-weight: bold;" >
          <tr style="text-align: center;">
            <th>#</th>
            <th>Fecha</th>
            <th>Transacción</th>
            <th class="hide">Descripción</th>
            <th>Monto</th>
            <th></th>
            
          </tr>
        </thead>
        <tbody class="normal">
          <tr style="text-align: center;" *ngFor="let transaccion of transacciones">
            <td>{{fila()}}</td>
            <td>{{transaccion.fecha | date: 'dd-MM-yyyy'}}</td>
            <td>{{transaccion.tipoTransaccion}}</td>
            <td class="hide">{{transaccion.descripcion}}</td>
            <td>{{transaccion.monto| replace }}</td>
            <td>
              
                <ion-button class="icono" style="width: 53px ; margin-top: -13px; --background: none;"  (click)="mostrarDatos(transaccion)">
                  <ion-icon slot="icon-only"  color="danger"  name="create-outline"  ></ion-icon>
                </ion-button>
                                      
              
            </td>
            
          <tr></tbody>
          <tbody>
         
      </table>


   </div>
  </div>
</div>
</ion-content>
